@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="min-h-fit flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-md shadow-md w-full max-w-lg text-center">
        <h1 class="text-2xl font-bold mb-4">@ViewData["Title"]</h1>
        <p class="text-gray-700 text-lg">
            Please check your email to reset your password.
        </p>
    </div>
</div>
