@{
    var user = ViewData["User"] as string;
}
<div class="flex-row d-sm-inline-flex justify-content-between">
    <div class="d-flex justify-content-end">
        <partial name="_LoginPartial" />
    </div>
</div>